* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: hsl(270, 100%, 5%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header {
  min-height: 63px;
}
.wrapper {
  max-width: 811px;
  margin-inline: auto;
}
.scores {
  margin: 13px;
}
.optionBTN, #name {
  font-size: 2rem;
  font-weight: bold;
}
.options {
  display: grid;
  gap: 2rem;
  grid-template-columns: 
    repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}
.optionBTN {
  border: 6px solid aliceblue;
  border-radius: 13px;
  color: aliceblue;
  background-color: hsl(0, 0%, 5%);
}
.optionBTN {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem 1rem;
  cursor: pointer;
}
.optionBTN:hover {
  background-color: hsl(0, 0%, 10%);
}
.optionBTN:active {
  background-color: hsl(0, 0%, 20%);
}
#countryFlag {
  display: block;
  max-height: 500px;
  max-width: 100%;
}

@media (min-height: 932px) {
  header {
    min-height: 44px;
  }
  .optionBTN {
    padding: 10px 10px;
  }
  .options {
    gap: 13px;
  }
  #countryFlag {
    max-height: 300px;
  }
}